{% extends 'base.html.twig' %}

{% block title %}
Todo list
{% endblock %}


{% block body %}
<div class=container>
    <div class=page-header>
        <h1>Todo list <small>wahooo</small></h1>
    </div>

    <div class="row">
        <div class=col-md-5>
            <form method="POST" action="edit">
                <ul>
                    {% for id, item in items %}
                        <li class=input-group>
                            <span class=input-group-addon>
                                <input type="checkbox" name="items[]" value="{{ id }}" {% if item.done %}checked{% endif %}>
                            </span>
                            <span class="form-control">{{ item.description }}</span>
                        </li>
                    {% endfor %}
                </ul>

                <input type="submit" value="Opslaan" class="btn  btn-primary">
            </form>
        </div>

    {# {{ render(url('new_todo')) }} #}
    </div>
</div>
{% endblock %}
