{% extends 'base.html.twig' %}

{% block title %}Todo list{% endblock %}

{% block body %}
<paper-material elevation="1" class=page-header>
    <paper-icon-button icon=star onclick="window.location.href='{{ path('list_calendar') }}';" >
    </paper-icon-button>
    <h1>Todo list <small>wahooo</small></h1>
</paper-material>

{# TODO: add ajax to do the post requests #}
<div class=row>
    <paper-material elevation="2" class=col-day>
        <h2>Todo</h2>
        <ul class=todo-list>
        {% for item in todo %}
        <li>
            <paper-button class=todo>
                {{ item.description }}
            </paper-button>
        </li>
        {% endfor %}
        <li class="new-todo">
            <paper-icon-button icon="add" onclick="window.location.href='{{ path('new_todo') }}';"></paper-button>
        </li>
        </ul>
    </paper-material>

    <paper-material elecation="2" class=col-day>
        <h2>Done</h2>
        <ul class=todo-list>
        {% for item in done %}
        <li>
            <paper-button class=todo>
                {{ item.description }}
            </paper-button>
        </li>
        {% endfor %}
        </ul>
    </paper-material>
</div>
{% endblock %}
