{% extends 'base.html.twig' %}

{% block title %}
Todo list
{% endblock %}

{% block body %}
<div class=container>
    <div class=page-header>
        <h1>Todo list <small>wahooo</small></h1>
    </div>

    <div class="row">
        <div class=col-todo>
            <h3>Todo</h3> 
            <form method="POST" action="{{ path('todo_done') }}">
                <ul class=todo-list>
                {% for item in todo %}
                    <li class=input-group>
                        <span class=input-group-addon>
                            <input type="checkbox" name="items[]" value="{{ item.id }}" {% if item.done %}checked{% endif %}>
                        </span>
                        <span class="form-control">{{ item.description }}</span>
                    </li>
                {% endfor %}
                </ul>
                <input type="submit" value="Save" class="btn  btn-primary">
            </form>
        </div>

        <div class=col-todo>
        <h3>Done</h3>
            <ul class=todo-list>
            {% for item in done %}
                <li>
                    {{ item.description }}
                </li>
            {% endfor %}
            </ul>
        </div>

    </div>
</div>
{% endblock %}
