{% extends 'base.html.twig' %}

{% block title %}
Edit Deadline!
{% endblock %}

{% block body %}
<div class=page-header>
    <h1>One does not simply edit a deadline!</h1>
</div>

<div class=row>
    <div class=col-form>
        <h3>Deadline</h3>
        {{ form(form) }}
    </div>
</div>

{% endblock %}
