{% extends 'base.html.twig' %}

{% block title %}
New Deadline!
{% endblock %}

{% block body %}
<div class=page-header>
    <h1>Hurray, it's a new deadline!</h1>    
</div>

<div class=row>
    <div class=col-form>
        <h3>Deadline</h3>
        {{ form(form) }}
    </div>
</div>

{% endblock %}

