{% extends 'base.html.twig' %}

{% block title %}
My Calender
{% endblock %}

{% block body %}
<div class=container>
    <div class=page-header>
        <h1>Calender <small>Putting some logic in the tasks...</small></h1>
    </div>

    <div class="row">
        <div class=col-md-4>
            <table class="agenda  table  table-hover">
                <tr>
                    <th>Today</th>
                    <th></th>
                </tr>

                {% for appointment in today  %}
                <tr>
                    <td>{{ appointment.description }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
        <div class=col-md-4>
            <table class="agenda  table  table-hover">
                <tr>
                    <th>Tomorrow</th>
                    <th></th>
                </tr>

                {% for appointment in tomorrow  %}
                <tr>
                    <td>{{ appointment.description }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
        <div class=col-md-4>
            <table class="agenda  table  table-hover">
                <tr>
                    <th>Overmorrow</th>
                    <th></th>
                </tr>

                {% for appointment in overmorrow  %}
                <tr>
                    <td>{{ appointment.description }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</div>
{% endblock %}

