html, body{
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    margin: 0px 20%;
    padding: 0px;
    overflow:hidden;
}

.page-header {
    font-size: 26px;
    font-family: 'Arvo', serif;
}
    .page-header small {
        font-size: 24px;
    }

.row {
    margin: 10% 0px;
}
    .col-day {
        display:block;
        float:left;
        margin:0px 20px;
    }
        .deadline {
            border-bottom: 1px solid black;
        }

        .item {
            text-decoration: none;
        }
        .item:visited {
            color: #000000;
        }
        .item:hover {
            color: #676767;
            font-weight: normal;
        }

    .col-todo {
        display:block;
        float:left;
        margin:0px 40px;
    }

    .high {
        font-weight: bold;
    }

.below {
    display: block;
    clear: both;
    margin: 0px;
    padding: 80px 0px;
}
    .below .btn {
        margin: 10px;
    }
