html, body{
    height: 100%;
    font-family: 'RobotoDraft', sans-serif;
    font-weight: normal;
}

body{
    margin: 0px;
    padding: 0px;
    overflow:hidden;
    /*background-color: #673AB7; */
}

a:visited{
    color: #000000;
}

a:hover {
    color: #676767;
    font-weight: normal;
}

.page-header {
    background-color: #512DA8;
    padding: 30px 200px;
    color: #FFFFFF;
}
    .page-header paper-icon-button {
        color: #FF4081
    }

    .page-header h1 {
        margin: 0px;
        font-size: 60px;
        font-weight: 100;
    }
    .page-header small {
        font-size: 24px;
        font-weight: 300;
    }

.nav{
    list-style: none;
    text-decoration: none;
    font-size: 34px;
}

.nav li{
    text-color: #000000;
}

.note-row {
    margin: 50px 0px;
    padding: 0px 240px;
}

.row {
    padding: 50px 220px;
    height: 400px;
    background-color: #FFFFFF;
}
    .col {
        display:block;
        float:left;
        margin:0px 20px;
    }
        .col h2 {
            font-weight:300;
            text-align:left;
        }

    .col-button {
        display:block;
        float:left;
        margin:0px 20px;
        padding: 140px 0px;
        width: 100px;
    }

    .col-day {
        display:block;
        float:left;
        margin:0px 20px;
        width:200px;
    }
        .col-day h2 {
            font-weight:300;
            text-align:center;
        }

        .deadline {
            border-bottom: 1px solid black;
            text-decoration: none;
        }

        .appointment {
            text-decoration: none;
        }

        .item {
            padding: 10px;
            font-size: 14px;
        }

    .col-todo {
        display:block;
        float:right;
        margin:0px 50px;
        width:200px;
    }
        .col-todo h2 {
            font-weight:300;
            text-align:center;
        }

        .todo {
            text-decoration: none;
        }

        .todo-list {
            list-style: none;
            margin: 0px;
        }
            .todo-list li {
                border-bottom:1px solid #eee;
            }
            .todo-list li:last-child {
                border-bottom:none;
            }

        .add_todo_link {
            text-decoration: none;
            color: #000000;

            font-size: 20px;
        }
        .new-todo {
            padding:10px 30px;
        }

    .col-form {
        display:block;
        float:left;
        margin:0px 40px;
    }

        .col-form div{
            display:block;
            margin: 7px 0px;
        }

        .col-form div label{
            font-size: 24px;
            margin: 0px 10px 0px 0px;
        }

        .col-form ul{
            list-style: none;
            margin: 40px 0px;
        }


.below {
    display: block;
    clear: both;
    padding: 20px 220px;
    background-color: #FFFFFF;
}
    .below paper-button {
        background-color: #E3D5F9;
        margin: 10px;
    }

    .below-left {
        float: left;
        margin: 0px 20px;
    }

    .below-right {
        float: right;
        margin: 0px 20px;
    }

.note {
    /*color: #FFFFFF; */
    font-size: 24px;
    margin: 10px 0px;
    font-weight: 300;
}

.day-name {
    font-weight:300;
    text-align:center;
}

.day-list {
    margin:0;
    padding:0;
    list-style:none;
    font-weight:500;
}
    .day-list li {
        border-bottom:1px solid #eee;
    }
    .day-list li:last-child {
        border-bottom:none;
    }

#js-info-box{
    width:500px;
    height:300px;
    background:white;

    position:absolute;
    left:60%;
    top:-200%;
    margin-left:-250px;
    margin-top:-150px;
}
    #js-info-box .todo-line{
        height: 50px;
    }

    #js-info-box .info-title{
        font-weight: 300;
        font-size: 26px;
        float:left;

        margin: 0px 20px;
    }

    #js-info-box .info-text{
        font-weight: 300;
        font-size: 16px;

        margin: 0px 20px;
    }

    #js-todo-send{
        float:left;
        margin: 0px 20px;
    }
