html, body{
    height: 100%;
    font-family: 'Helvetica', sans-serif;
    font-weight: normal;
}

body{
    margin: 0px;
    padding: 0px;
    overflow:hidden;
    background-color: #AAEEAA;
}

h1{
    font-weight: normal;
}

a:visited{
    color: #000000;
}

a:hover {
    color: #676767;
    font-weight: normal;
}

.page-header {
    font-size: 26px;
    background-color: #88CC88;
    padding: 50px 200px;
    color: #FFFFFF;
}
    .page-header h1 {
        margin: 0px;
        font-size: 56px;
    }
    .page-header small {
        font-size: 24px;
    }

.nav{
    list-style: none;
    text-decoration: none;
    font-size: 34px;
}

.nav li{
    text-color: #000000;
}

.note-row {
    margin: 50px 0px;
    padding: 0px 240px;
}

.row {
    padding: 50px 220px;
    height: 400px;
    background-color: #FFFFFF;
}
    .col-day {
        display:block;
        float:left;
        margin:0px 20px;
        width:200px;
    }

        .deadline {
            border-bottom: 1px solid black;
        }

        .item {
            text-decoration: none;
        }

    .col-todo {
        display:block;
        float:left;
        margin:0px 50px;
        width:200px;
    }

    .col-form {
        display:block;
        float:left;
        margin:0px 40px;
    }

        .col-form div{
            display:block;
            margin: 7px 0px;
        }

        .col-form div label{
            font-size: 24px;
            margin: 0px 10px 0px 0px;
        }
        
        .col-form ul{
            list-style: none;
            margin: 40px 0px;
        }

        .todo {
            text-decoration: none; 
        }

        .todo-list {
            list-style: none;
            margin: 0px;
        }

        .add_todo_link {
            text-decoration: none;
            color: #000000;

            font-size: 20px;
        }

    .high {
        font-weight: bold;
    }

.below {
    display: block;
    clear: both;
    padding: 20px 220px;
    background-color: #FFFFFF;
}
    .below .btn {
        margin: 10px;
    }
